version: '3.8'

services:
  api:
    build:
      context: .
      target: apirunner
    image: test:api
    env_file:
      - .env
    ports:
      - "5000:5000"
    # environment:
    #   - AUTH_TRUST_HOST=true

  web:
    build:
      context: .
      target: webrunner
    image: test:web
    env_file:
      - .env
    environment:
      - PORT=3000
      - API_URL=http://api:5000
    ports:
      - "3000:3000"

  # transcoder:
  #   build:
  #     context: .
  #     target: transcoderrunner
  #   image: test:transcoder
  #   env_file:
  #     - .env
  #   environment:
  #     - AUTH_TRUST_HOST=true